.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.game-board {
    width: 600px;
    height: 635px;
    margin-top: 20px;
    border: 15px ridge red;
}

.adventure-grid {
    display: grid;
    grid-template-columns:  repeat(5, 1fr);
    gap: .5px;
    padding: 10px;
    

}

.grid-square {
    grid-column: 1fr;
    border: 1px solid black;
    height: 100px;
    


}

h1 {
    text-align: center;
}

